<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kgc.mapper.AccountMapper">
    <!--根据账号查询账户-->
    <select id="getAccountByAccountNum" resultType="account" parameterType="string">
        select * from account where account_number=#{account_number};
    </select>
    <!--更新账户余额-->
    <update id="updateAccount">
        update account set account_money=account_money-#{money} where account_number=#{account_number}
    </update>
</mapper>